<div style=" margin-top: 100px" class="container">
  <h1 class="text-center"> Portfolio </h1>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/images/cabin.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build.</p>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../../assets/images/cake.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build.</p>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../../../assets/images/game.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build.</p>
      </div>
</div>
</div>
