<!-- <p style=" margin-top: 300px;">kkkk</p> -->

<div style=" margin-top: 300px" class="container">
  <h1 class="text-center">Professional Skills</h1>
  <div class="container">
    <div class="row">
      <div class="col-6">
    <b>HTML 5</b>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100" style="padding-left: 80%; width: 85%">85%</div>
    </div>


    <b>CSS</b>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100" style="padding-left: 70%; width: 75%">75%</div>
    </div>

    <b>JAVASCRIPT</b>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100" style="padding-left: 60%; width: 65%">65%</div>
    </div>


    <b>Boostrap 5</b>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100" style="padding-left: 70%; width: 75%">75%</div>
    </div>

    <b>JQUERY</b>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100" style="padding-left: 60%; width: 65%">65%</div>
    </div>
  </div>
  <div class="col-6">
    <b>HTML 5</b>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100" style="padding-left: 80%; width: 85%">85%</div>
    </div>


    <b>CSS</b>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100" style="padding-left: 70%; width: 75%">75%</div>
    </div>

    <b>JAVASCRIPT</b>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100" style="padding-left: 60%; width: 65%">65%</div>
    </div>


    <b>Boostrap 5</b>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100" style="padding-left: 70%; width: 75%">75%</div>
    </div>

    <b>JQUERY</b>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100" style="padding-left: 60%; width: 65%">65%</div>
    </div>
  </div>
</div>

</div>

</div>
