@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
display: flex !important;
flex-direction: column !important;
font-family: 'Poppins', sans-serif;
}
main {
flex: 1 !important;
}
footer{

margin-top: auto!important;
margin-bottom: 0px !important;

  }

